.advantages {
  background-color: $bgGray;
  padding: clamp(4rem, 8.33vw, 10rem) clamp(6rem, -7.733rem + 28.61vw, 26.6rem);
  text-align: center;

  @media (max-width: 768px) {
    padding: clamp(1rem, -1.143rem + 10.71vw, 4rem)
      clamp(1rem, -2.571rem + 17.86vw, 6rem);
  }

  &__heading {
    text-transform: uppercase;
    margin-bottom: 3.75rem;

    @media (max-width: 768px) {
      margin-bottom: clamp(1.4rem, -0.279rem + 8.39vw, 3.75rem);
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: clamp(1rem, -0.333rem + 2.78vw, 3rem);
    margin-bottom: 1rem;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: space-evenly;
      row-gap: 3rem;
    }

    @media (max-width: 576px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    width: 14.75rem;
    height: 17.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 40px -1px rgba(0, 0, 0, 0.1);

    @media (max-width: 1300px) {
      width: 23%;
      height: auto;
      padding: 1rem 0;
    }

    @media (max-width: 768px) {
      width: 36%;
    }

    @media (max-width: 576px) {
      width: clamp(14.375rem, 12.344rem + 10.16vw, 16rem);
      padding: 2rem 0;
    }
  }

  &__text {
    font-family: $fontFamily2;
    font-weight: 800;
    font-size: clamp(0.8rem, 0.583rem + 0.45vw, 1.125rem);
    line-height: 1.4;
    text-transform: uppercase;
    max-width: 60%;
    margin-top: 1.44rem;
    text-align: center;
  }
}
