.clients {
  margin: clamp(2rem, 0.65rem + 6.75vw, 8.75rem) 0;

  &__container {
    position: relative;
  }

  &__wrapper {
    height: 21rem;

    @media (max-width: 1500px) {
      width: 90%;
    }

    @media (max-width: 1500px) {
      height: 16rem;
    }

    @media (max-width: 460px) {
      height: 15rem;
    }
  }

  &__heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: clamp(1rem, 0.45rem + 2.75vw, 3.75rem);

    @media (max-width: 460px) {
      font-size: 1.8rem;
    }
  }

  &__slider {
    overflow: hidden;
  }
}

.swiper-wrapper {
  display: inline-flex;
}

.clients-slide {
  height: 7.62rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  & > img {
    width: 10rem;
    height: 5rem;
  }
}

.slider-buttons {
  width: 100%;
  position: absolute;
  top: 46%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1500px) {
    top: 54%;
  }

  @media (max-width: 1200px) {
    top: 50%;
  }

  @media (max-width: 960px) {
    top: 46%;
  }

  @media (max-width: 768px) {
    display: none;
  }

  @media (max-width: 460px) {
    display: block;
    top: 56%;
  }
}

.clients-slider-btn {
  width: 1.75rem;
  height: 3.125rem;
  background: url(../images/icons/slider-arrow.svg) center center no-repeat;
  cursor: pointer;

  @media (max-width: 992px) {
    height: 2.5rem;
  }
}

.clients-slider-prev {
  position: absolute;
  left: 0;

  @media (max-width: 1200px) {
    left: -2rem;
  }

  @media (max-width: 460px) {
    left: -1rem;
  }
}

.clients-slider-next {
  position: absolute;
  right: 0;
  transform: rotate(180deg);

  @media (max-width: 1200px) {
    right: 1rem;
  }
}

//========== Pagination ==========
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;

  @media (max-width: 460px) {
    display: none;
  }
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullet {
  width: 0.9rem;
  height: 0.9rem;
  display: inline-block;
  border-radius: 50%;
  background: #000;
  opacity: 0.2;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #6b6b6b;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 0.75rem;
}
