.contract {
  background-color: $bgGray;

  &__container {
    max-width: 68.75rem;
    text-align: center;
  }

  &__heading {
    padding: clamp(3rem, 1.947rem + 5.27vw, 5.6rem) 0;
  }

  &__items {
    display: flex;
    row-gap: clamp(4.5rem, 3.69rem + 4.05vw, 6.5rem);
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    gap: 1.7rem;
    align-items: center;
  }

  &__text-wrap {
    max-width: 17rem;
    text-align: start;
  }

  &__sec-heading {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.16;
    color: #000;
    margin-bottom: 1rem;
  }

  &_text {
    font-size: 1.125rem;
    line-height: 1.16;
    color: #000;
  }

  &__foot-text {
    max-width: 31.6rem;
    padding: clamp(2.3rem, 1.409rem + 4.46vw, 4.5rem) 0;
    margin: 0 auto;
    font-weight: 700;
    font-size: 2.25rem;
    color: #000;
  }
}
