.wrap-year {
  background: url(../images/icons/12.svg) no-repeat;
  justify-content: flex-end;
}

.wrap-percent {
  background: url(../images/icons/98.svg) no-repeat;
  justify-content: flex-start;
}

.facts {
  &__top {
    background-color: #fff;
    padding: clamp(2.5rem, 1.7rem + 4vw, 6.5rem)
      clamp(3rem, 1.98rem + 5.1vw, 8.1rem) 0;
  }

  &__heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;

    @media (max-width: 460px) {
      margin-bottom: 1rem;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    @media (max-width: 900px) {
      flex-direction: column;
      padding: 1rem;
    }
  }

  &__item-wrap {
    display: flex;
    background-size: contain;
    flex: 0 0 43%;
    padding: clamp(4rem, -1.667rem + 11.81vw, 12.5rem) 0
      clamp(2.6rem, -1.933rem + 9.44vw, 9.4rem);

    @media (max-width: 900px) {
      background-position: center;
    }

    @media (max-width: 460px) {
      justify-content: center;
      padding: clamp(0.4rem, -2.114rem + 12.57vw, 1.5rem) 0
        clamp(0.2rem, -1.629rem + 9.14vw, 1rem);
    }
  }

  &__items {
    display: flex;
    align-items: center;
    gap: clamp(1rem, -0.333rem + 2.78vw, 3rem);

    &-year {
      @media (max-width: 900px) {
        flex-direction: row-reverse;
      }
    }

    @media (max-width: 460px) {
      flex-direction: column;
    }
  }

  &__label {
    width: 12.4rem;
    height: 11.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #ffcc34;
    border-radius: 0.8rem;
    box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.2);
    font-weight: 900;
    font-size: clamp(4rem, 2.667rem + 2.78vw, 6rem);

    &-year {
      flex-direction: column;
      gap: 2rem;
    }

    @media (max-width: 460px) {
      width: 8.4rem;
      height: 7.25rem;
    }
  }

  &__text {
    max-width: 14.5rem;
    font-weight: 900;
    font-size: clamp(1.2rem, 1rem + 0.42vw, 1.5rem);
    line-height: 1.16;

    & > span {
      display: block;
      font-size: clamp(1.8rem, 1.5rem + 0.63vw, 2.25rem);
    }

    @media (max-width: 460px) {
      text-align: center;
    }
  }
}

.year-label {
  font-size: clamp(2.5rem, 1.5rem + 2.08vw, 4rem);
  margin-top: -3rem;
}

.percent-label {
  font-size: clamp(2rem, 1.333rem + 1.39vw, 3rem);
  margin-top: 2rem;
}

.facts-bottom {
  background-color: #016c88;

  &__container {
    display: flex;
    justify-content: space-between;
    color: #fff;
    text-align: center;
    line-height: 1.16;
    padding: 3.2rem 1rem;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 4rem;
    }
  }

  &__number {
    font-weight: 900;
    font-size: 4.375rem;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);

    @media (max-width: 1100px) {
      font-size: clamp(3rem, -0.181rem + 6.63vw, 4.375rem);
    }

    @media (max-width: 768px) {
      font-size: 4.3rem;
    }

    @media (max-width: 460px) {
      font-size: clamp(2.5rem, -0.929rem + 17.14vw, 4rem);
    }
  }

  &__text {
    font-weight: 700;
    font-size: 1.5rem;

    & > span {
      display: block;
    }
  }
}
