.feedback {
  background-color: #07627d;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 1200px) {
    flex-direction: column;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: clamp(1rem, -17.871rem + 23.23vw, 10rem);

    @media (max-width: 1200px) {
      padding: 3rem 1rem;
    }

    @media (max-width: 640px) {
      flex-direction: column;
      gap: 3rem;
    }
  }

  &__form-wrapper {
    width: 23%;

    @media (max-width: 1500px) {
      width: 36%;
      margin-left: 2%;
    }

    @media (max-width: 640px) {
      margin: 0;
      width: 80%;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 0.875rem;
  }

  &__notification {
    width: 100%;
    font-family: $fontFamily2;
    font-size: 0.625rem;
    line-height: 1.4;
    color: #77aab9;
  }

  &__links-wrapper {
    width: 42%;
    background-color: #00627e;
    box-shadow: 0px 4px 20px #004c63;
    border-radius: 0.5rem;
    margin-right: 2%;

    @media (max-width: 1400px) {
      width: 48%;
    }

    @media (max-width: 1200px) {
      width: 40%;
    }

    @media (max-width: 768px) {
      width: 50%;
    }

    @media (max-width: 640px) {
      margin: 0;
      width: 70%;
    }

    @media (max-width: 640px) {
      width: 80%;
    }
  }

  &__photo {
    @media (min-width: 700px) and (max-width: 1200px) {
      display: none;
    }
  }
}

.ask {
  &__input {
    width: 100%;
    height: 2.625rem;
    background-color: #fff;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    padding: 1rem;
    font-family: $fontFamily2;
    font-weight: 600;
    font-size: 0.875rem;

    &::placeholder {
      color: #bebebe;
    }
  }

  &__input-area {
    height: 8.25rem;
  }

  &__btn {
    width: 100%;
    height: 3rem;
    font-family: $fontFamily2;
    font-weight: 700;
    font-size: 0.875rem;
    color: #000;
    // padding: 0.75rem 0;
  }
}

.feedback-links {
  margin: 10% auto;
  width: 15.94rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  @media (max-width: 1300px) {
    width: 100%;
  }

  &__item {
    width: 100%;

    @media (max-width: 1300px) {
      width: 80%;
    }
  }

  &__link {
    display: block;
    position: relative;
    width: 100%;
    padding: 1rem 0.1rem 1rem 10%;
    background-color: $secondaryYellow;
    font-family: $fontFamily2;
    font-size: 1.125rem;
    color: #000;
    font-weight: 700;
    text-align: center;
    border-radius: 0.5rem;
    transition: background-color 0.4s;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: none;
        background-color: $mainYellow;
      }
    }

    &::before {
      position: absolute;
      content: '';
      width: 1.25rem;
      height: 1.25rem;
      top: 50%;
      transform: translateY(-50%);
      left: 27%;

      @media (max-width: 1300px) {
        left: 16%;
      }

      @media (max-width: 1200px) {
        left: 30%;
      }

      @media (max-width: 900px) {
        left: 24%;
      }

      @media (max-width: 400px) {
        left: 18%;
      }
    }

    @media (max-width: 1400px) {
      padding: 0.5rem 0.1rem 0.5rem 10%;
    }

    &-instagram::before {
      background: url(../../images/icons/instagram-icon.svg) no-repeat;
    }

    &-telegram::before {
      background: url(../../images/icons/telegram-icon.svg) no-repeat;
    }

    &-phone {
      padding-left: 6%;

      &::before {
        background: url(../../images/icons/phone-icon.svg) no-repeat;
      }
    }

    &-facebook::before {
      background: url(../../images/icons/facebook-icon.svg) no-repeat;
    }

    &-viber {
      padding-left: 0;

      &::before {
        background: url(../../images/icons/viber-icon.svg) no-repeat;
      }
    }
  }
}
