// ========== Menu intro ==========
.intro {
  background-color: $blue;
  padding: 1rem 0;

  @media (max-width: 992px) {
    display: none;
  }
}

.menu-intro {
  display: flex;
  justify-content: space-around;
  gap: 2rem;

  &__link {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
  }
}
