.services {
  background-color: $bgGray;
  padding: clamp(2.8rem, -0.419rem + 8.94vw, 10.31rem)
    clamp(3rem, -0.589rem + 9.97vw, 11.375rem)
    clamp(1.6rem, -0.554rem + 5.98vw, 6.625rem);

  @media (max-width: 576px) {
    padding: 1.6rem 1rem;
  }

  &__heading {
    display: inline-block;
    font-family: $fontFamily2;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1.35;
    color: #000;
    letter-spacing: -1px;
    margin: 1.3rem 0 1rem;
    transition: color 0.4s;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: none;
        color: $blue;
      }
    }
  }

  &__link {
    display: inline-block;
    font-family: $fontFamily;
    color: $bodyColor;
    font-size: 1.125rem;
    line-height: 1.16;
    margin-bottom: 0.53rem;
  }
}

.services-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  background-color: #fff;
  padding: 4.5rem 5.1rem 3.35rem;
  border-radius: 0.8rem;
  box-shadow: 5px 5px 40px -1px rgba(0, 0, 0, 0.1);

  @media (max-width: 1400px) {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  @media (max-width: 1200px) {
    padding: 2.5rem 3.1rem 2.35rem;
  }

  @media (max-width: 576px) {
    padding: 2rem 1rem;
  }
}

.services__items {
  @media (max-width: 1400px) {
    width: 20.3125rem;
  }
}
